In [1]:
import torch
torch.cuda.empty_cache()

In [2]:
import torchvision
print("PyTorch version:", torch.__version__)
print("Torchvision version:", torchvision.__version__)
print("CUDA is available:", torch.cuda.is_available())

PyTorch version: 2.0.1+cu117
Torchvision version: 0.15.2+cu117
CUDA is available: True

In [3]:
import os 
os.environ['MPLCONFIGDIR'] = os.getcwd() + "/configs/"
os.environ["PYTORCH_CUDA_ALLOC_CONF"] = "max_split_size_mb:100000"
import matplotlib
from matplotlib import pyplot as plt
import numpy as np
import cv2
os.getcwd()

'/home/yelhe/script/mt'

In [4]:
import glob
import shapely
from shapely.geometry import Polygon
import shapely.plotting

In [5]:
import pandas as pd
from PIL import Image as ima
import warnings

In [6]:
from mt_function_yl import *

In [7]:
koord  = pd.read_csv('/home/yelhe/script/mt/output/koord.csv')

In [8]:
# koord.head()
name1 = koord.Nr.astype(str) + '1.jpg'
name2 = koord.Nr.astype(str) + '2.jpg'
name3 = koord.Nr.astype(str) + '3.jpg'
name4 = koord.Nr.astype(str) + '4.jpg'

In [9]:
# Import images into a list
images = [cv2.imread(file) for file in glob.glob("/home/yelhe/data/gsv/GSV_filtered/*.jpg")]

In [10]:
# arr_jpg = [x for x in os.listdir('/home/yelhe/data/gsv/GSV_filtered/') if x.endswith(".jpg")]

In [11]:
from pathlib import Path

In [12]:

gsv_image1 = []
gsv_image2 = []
gsv_image3 = []
gsv_image4 = []

nf1 = []
nf2 = []
nf3 = []
nf4 = []
for i in range(0,349):
    path1 = Path('/home/yelhe/data/gsv/GSV_filtered/' + name1[i])
    c1 = path1.is_file()
    path2 = Path('/home/yelhe/data/gsv/GSV_filtered/' + name2[i])
    c2 = path2.is_file()
    path3 = Path('/home/yelhe/data/gsv/GSV_filtered/' + name3[i])
    c3 = path3.is_file()
    path4 = Path('/home/yelhe/data/gsv/GSV_filtered/' + name4[i])
    c4 = path4.is_file()
    if c1 is True:
        im1 = cv2.imread("/home/yelhe/data/gsv/GSV_filtered/" + name1[i])
        gsv_image1.append(im1)
        nf1.append(name1[i])
    if c2 is True:
        im2 = cv2.imread("/home/yelhe/data/gsv/GSV_filtered/" + name2[i])
        gsv_image2.append(im2)
        nf2.append(name2[i])
    if c3 is True:
        im3 = cv2.imread("/home/yelhe/data/gsv/GSV_filtered/" + name3[i])
        gsv_image3.append(im3)
        nf3.append(name3[i])
    if c4 is True:
        im4 = cv2.imread("/home/yelhe/data/gsv/GSV_filtered/" + name4[i])
        gsv_image4.append(im4)
        nf4.append(name4[i])

In [13]:
print(len(gsv_image1), len(gsv_image2), len(gsv_image3), len(gsv_image4))
# len(gsv_image2)
# len(gsv_image3)

295 295 295 295

In [14]:
nf1

['999000608525971.jpg',
 '999000630186111.jpg',
 '999000527235101.jpg',
 '999000615140431.jpg',
 '999000630378431.jpg',
 '999000542882091.jpg',
 '999000466623001.jpg',
 '999000639922121.jpg',
 '999000601646161.jpg',
 '999000495072791.jpg',
 '999000547592501.jpg',
 '999000635942291.jpg',
 '999000636955451.jpg',
 '999000635344181.jpg',
 '999000595263511.jpg',
 '999000471051911.jpg',
 '999000629103651.jpg',
 '999000560191821.jpg',
 '999000634858691.jpg',
 '999000462132901.jpg',
 '999000549913541.jpg',
 '999000595409311.jpg',
 '999000631547011.jpg',
 '999000569462591.jpg',
 '999000559069511.jpg',
 '999000524468851.jpg',
 '999000508901361.jpg',
 '999000464845311.jpg',
 '999000636984971.jpg',
 '999000617345291.jpg',
 '999000504565471.jpg',
 '999000551847971.jpg',
 '999000634348331.jpg',
 '999000536683741.jpg',
 '999000593844731.jpg',
 '999000574209581.jpg',
 '999000567421331.jpg',
 '999000532780721.jpg',
 '999000509348991.jpg',
 '999000520607721.jpg',
 '999000520193041.jpg',
 '999000619541071.jpg',
 '999000628410251.jpg',
 '999000551672651.jpg',
 '999000610282371.jpg',
 '999000562657821.jpg',
 '999000495325831.jpg',
 '999000580374261.jpg',
 '999000463673551.jpg',
 '999000490451501.jpg',
 '999000633162671.jpg',
 '999000497235931.jpg',
 '999000623005211.jpg',
 '999000622476361.jpg',
 '999000531528771.jpg',
 '999000616484951.jpg',
 '999000578230601.jpg',
 '999000626375411.jpg',
 '999000633274021.jpg',
 '999000528823671.jpg',
 '999000621237331.jpg',
 '999000623542051.jpg',
 '999000555377631.jpg',
 '999000572506981.jpg',
 '999000625821211.jpg',
 '999000581930921.jpg',
 '999000566471551.jpg',
 '999000576027741.jpg',
 '999000593760881.jpg',
 '999000621922831.jpg',
 '999000618135121.jpg',
 '999000562529831.jpg',
 '999000532276481.jpg',
 '999000625653261.jpg',
 '999000528385471.jpg',
 '999000597829221.jpg',
 '999000574190861.jpg',
 '999000557784221.jpg',
 '999000565652651.jpg',
 '999000477014281.jpg',
 '999000611595661.jpg',
 '999000562533401.jpg',
 '999000455107561.jpg',
 '999000608773411.jpg',
 '999000476631161.jpg',
 '999000617275021.jpg',
 '999000475795221.jpg',
 '999000628900881.jpg',
 '999000625672531.jpg',
 '999000473522501.jpg',
 '999000492528371.jpg',
 '999000635834041.jpg',
 '999000591441931.jpg',
 '999000565257361.jpg',
 '999000625305781.jpg',
 '999000585970941.jpg',
 '999000514331591.jpg',
 '999000519049391.jpg',
 '999000513007551.jpg',
 '999000632650541.jpg',
 '999000568459881.jpg',
 '999000521982841.jpg',
 '999000620054411.jpg',
 '999000629755351.jpg',
 '999000624081331.jpg',
 '999000519014741.jpg',
 '999000466624571.jpg',
 '999000601762301.jpg',
 '999000520190641.jpg',
 '999000572513621.jpg',
 '999000518949181.jpg',
 '999000626302991.jpg',
 '999000615289251.jpg',
 '999000545155251.jpg',
 '999000621740101.jpg',
 '999000532102781.jpg',
 '999000543089841.jpg',
 '999000482553521.jpg',
 '999000593727021.jpg',
 '999000526855261.jpg',
 '999000493121321.jpg',
 '999000619086651.jpg',
 '999000477995971.jpg',
 '999000573962001.jpg',
 '999000464779451.jpg',
 '999000499406721.jpg',
 '999000467008161.jpg',
 '999000568608121.jpg',
 '999000464944111.jpg',
 '999000604869771.jpg',
 '999000596748611.jpg',
 '999000464838121.jpg',
 '999000564610641.jpg',
 '999000461029471.jpg',
 '999000478378651.jpg',
 '999000599671451.jpg',
 '999000536678371.jpg',
 '999000511128131.jpg',
 '999000622657961.jpg',
 '999000589258181.jpg',
 '999000614153251.jpg',
 '999000614495451.jpg',
 '999000569956871.jpg',
 '999000555609911.jpg',
 '999000617056111.jpg',
 '999000578397991.jpg',
 '999000605492041.jpg',
 '999000569132031.jpg',
 '999000606431211.jpg',
 '999000507621131.jpg',
 '999000624933941.jpg',
 '999000547498141.jpg',
 '999000577222881.jpg',
 '999000549421421.jpg',
 '999000609249381.jpg',
 '999000524128361.jpg',
 '999000512235311.jpg',
 '999000567631671.jpg',
 '999000610595721.jpg',
 '999000632038491.jpg',
 '999000510761211.jpg',
 '999000490607221.jpg',
 '999000599662221.jpg',
 '999000607787031.jpg',
 '999000532906231.jpg',
 '999000524455421.jpg',
 '999000526060381.jpg',
 '999000510144721.jpg',
 '999000606738831.jpg',
 '999000527227771.jpg',
 '999000474367821.jpg',
 '999000612118781.jpg',
 '999000573566131.jpg',
 '999000578011681.jpg',
 '999000481605161.jpg',
 '999000600039541.jpg',
 '999000567633831.jpg',
 '999000507092451.jpg',
 '999000455112041.jpg',
 '999000464776051.jpg',
 '999000545203971.jpg',
 '999000573089041.jpg',
 '999000622452761.jpg',
 '999000457295531.jpg',
 '999000629106501.jpg',
 '999000520963291.jpg',
 '999000616348971.jpg',
 '999000603440831.jpg',
 '999000518974391.jpg',
 '999000480542571.jpg',
 '999000621242251.jpg',
 '999000507319361.jpg',
 '999000559666821.jpg',
 '999000582529521.jpg',
 '999000585972541.jpg',
 '999000604512761.jpg',
 '999000608522911.jpg',
 '999000610684481.jpg',
 '999000468356361.jpg',
 '999000508023291.jpg',
 '999000514758881.jpg',
 '999000624776941.jpg',
 '999000518626361.jpg',
 '999000616349221.jpg',
 '999000529046731.jpg',
 '999000554994621.jpg',
 '999000517969971.jpg',
 '999000622424601.jpg',
 '999000560034311.jpg',
 '999000630436301.jpg',
 '999000572995771.jpg',
 '999000548150201.jpg',
 '999000523941911.jpg',
 '999000631547891.jpg',
 '999000627439801.jpg',
 '999000574078821.jpg',
 '999000621739041.jpg',
 '999000581155631.jpg',
 '999000509721281.jpg',
 '999000627189941.jpg',
 '999000618629841.jpg',
 '999000518213191.jpg',
 '999000579005131.jpg',
 '999000449638401.jpg',
 '999000524207101.jpg',
 '999000464522041.jpg',
 '999000586745251.jpg',
 '999000604384511.jpg',
 '999000569466791.jpg',
 '999000612523441.jpg',
 '999000565120731.jpg',
 '999000576987891.jpg',
 '999000473320471.jpg',
 '999000623908451.jpg',
 '999000506366961.jpg',
 '999000476166481.jpg',
 '999000603481761.jpg',
 '999000631412191.jpg',
 '999000590744851.jpg',
 '999000624576181.jpg',
 '999000552941941.jpg',
 '999000627383671.jpg',
 '999000608162421.jpg',
 '999000512171311.jpg',
 '999000603455201.jpg',
 '999000618964221.jpg',
 '999000588114751.jpg',
 '999000552254731.jpg',
 '999000614345351.jpg',
 '999000571136071.jpg',
 '999000559610631.jpg',
 '999000640092301.jpg',
 '999000625668181.jpg',
 '999000522523101.jpg',
 '999000614358901.jpg',
 '999000531689711.jpg',
 '999000607998171.jpg',
 '999000585010561.jpg',
 '999000505175611.jpg',
 '999000530257991.jpg',
 '999000473914801.jpg',
 '999000577399651.jpg',
 '999000614938541.jpg',
 '999000563636121.jpg',
 '999000624075611.jpg',
 '999000524160651.jpg',
 '999000517118101.jpg',
 '999000609636911.jpg',
 '999000479857511.jpg',
 '999000459928231.jpg',
 '999000603893911.jpg',
 '999000611397391.jpg',
 '999000623620211.jpg',
 '999000578966471.jpg',
 '999000572674331.jpg',
 '999000461344231.jpg',
 '999000636366351.jpg',
 '999000580575821.jpg',
 '999000640091491.jpg',
 '999000626066591.jpg',
 '999000469801251.jpg',
 '999000620268281.jpg',
 '999000463079081.jpg',
 '999000465410311.jpg',
 '999000623728101.jpg',
 '999000510124101.jpg',
 '999000633965101.jpg',
 '999000621006561.jpg',
 '999000544915421.jpg',
 '999000618951341.jpg',
 '999000563875981.jpg',
 '999000559996941.jpg',
 '999000559052761.jpg',
 '999000606709751.jpg',
 '999000507146191.jpg']

In [19]:
al = pd.DataFrame({'validpoint': nf1})

In [24]:
al['validpoint'] = al['validpoint'].values.astype(str)
al['Nr'] = al.validpoint.str[-19:-5]

In [26]:
al = al.drop(['validpoint'], axis = 1)

In [30]:
al['Nr'] = al['Nr'].values.astype(int)

In [37]:
al = al.assign(v = 1)

In [38]:
al

                 Nr  v
0    99900060852597  1
1    99900063018611  1
2    99900052723510  1
3    99900061514043  1
4    99900063037843  1
..              ... ..
290  99900056387598  1
291  99900055999694  1
292  99900055905276  1
293  99900060670975  1
294  99900050714619  1

[295 rows x 2 columns]

In [36]:
al.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nr      295 non-null    int64
 1   v       295 non-null    int64
dtypes: int64(2)
memory usage: 4.7 KB

In [15]:
koord = pd.read_csv('/home/yelhe/script/mt/output/koord.csv')

In [17]:
koord.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Koord E  350 non-null    int64
 1   Koord N  350 non-null    int64
 2   lon      350 non-null    float64
 3   lat      350 non-null    float64
 4   url1     350 non-null    object
 5   url2     350 non-null    object
 6   url3     350 non-null    object
 7   url4     350 non-null    object
 8   Nr       350 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 24.7+ KB

In [21]:
koord = koord.drop(['url1', 'url2','url3','url4'], axis = 1)

In [22]:
koord

     Koord E  Koord N       lon        lat              Nr
0    2678534  1249396  8.478805  47.390709  99900060852597
1    2678534  1251496  8.479174  47.409596  99900063018611
2    2678561  1249232  8.479134  47.389231  99900052723510
3    2678640  1250202  8.480350  47.397946  99900061514043
4    2678733  1251201  8.481758  47.406919  99900063037843
..       ...      ...       ...        ...             ...
345  2686563  1250608  8.585369  47.400603  99900055905276
346  2686780  1250693  8.588260  47.401339  99900060670975
347  2687008  1250881  8.591316  47.403000  99900047367168
348  2687022  1250538  8.591435  47.399913  99900050714619
349  2687220  1250648  8.594079  47.400876  99900060734330

[350 rows x 5 columns]

In [39]:
# valid ecooter accident koords
vak = pd.merge(koord, al, how = 'left',  on = ['Nr'])

In [40]:
vak

     Koord E  Koord N       lon        lat              Nr    v
0    2678534  1249396  8.478805  47.390709  99900060852597  1.0
1    2678534  1251496  8.479174  47.409596  99900063018611  1.0
2    2678561  1249232  8.479134  47.389231  99900052723510  1.0
3    2678640  1250202  8.480350  47.397946  99900061514043  1.0
4    2678733  1251201  8.481758  47.406919  99900063037843  1.0
..       ...      ...       ...        ...             ...  ...
345  2686563  1250608  8.585369  47.400603  99900055905276  1.0
346  2686780  1250693  8.588260  47.401339  99900060670975  1.0
347  2687008  1250881  8.591316  47.403000  99900047367168  NaN
348  2687022  1250538  8.591435  47.399913  99900050714619  1.0
349  2687220  1250648  8.594079  47.400876  99900060734330  NaN

[350 rows x 6 columns]

In [41]:
vak['v'] = vak['v'].fillna(0)

In [42]:
vak

     Koord E  Koord N       lon        lat              Nr    v
0    2678534  1249396  8.478805  47.390709  99900060852597  1.0
1    2678534  1251496  8.479174  47.409596  99900063018611  1.0
2    2678561  1249232  8.479134  47.389231  99900052723510  1.0
3    2678640  1250202  8.480350  47.397946  99900061514043  1.0
4    2678733  1251201  8.481758  47.406919  99900063037843  1.0
..       ...      ...       ...        ...             ...  ...
345  2686563  1250608  8.585369  47.400603  99900055905276  1.0
346  2686780  1250693  8.588260  47.401339  99900060670975  1.0
347  2687008  1250881  8.591316  47.403000  99900047367168  0.0
348  2687022  1250538  8.591435  47.399913  99900050714619  1.0
349  2687220  1250648  8.594079  47.400876  99900060734330  0.0

[350 rows x 6 columns]

In [44]:
vak.to_csv('/home/yelhe/script/mt/output/validaccidentkoords.csv', index = False)